<body>
    <a class="btn btn-primary btn-lg btn-login btn-block" href="https://petrus.eu.auth0.com/v2/logout">Logout</a>
    <h1>Here is a view of what the database contains</h1>
    <div>
        <h2>Actors</h2>
        {% for actor in actors %}
            <div class="col-sm-4">
                <div class="tile tile-show">
                    <h5>{{ actor.name }}</h5>
                    <p>Age: {{ actor.age }}, {{ actor.gender }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div>
        <h2>Movies</h2>
        {% for movie in movies %}
            <div class="col-sm-4">
                <div class="tile tile-show">
                    <h5>{{ movie.title }}</h5>
                    <p>Release date: {{ movie.releasedate }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
    