<body>
    <a class="btn btn-primary btn-lg btn-login btn-block" href="/login">Log In</a>
    <div>
        <h1>Actors</h1>
        {% for actor in actors %}
            <div class="col-sm-4">
                <div class="tile tile-show">
                    <h5>{{ actor.name }}</h5>
                    <p>Age: {{ actor.age }}, {{ actor.gender }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div>
        <h1>Movies</h1>
        {% for movie in movies %}
            <div class="col-sm-4">
                <div class="tile tile-show">
                    <h5>{{ movie.title }}</h5>
                    <p>Release date: {{ movie.releasedate }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
    